{% load static %}
        <!-- JQUERY JS -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

        <!-- SPARKLINE JS-->
        <script src="{% static 'assets/js/jquery.sparkline.min.js' %}"></script>

        <!-- INTERNAL SELECT2 JS -->
        <script src="{% static 'assets/plugins/select2/js/select2.full.min.js' %}"></script>

        <!-- INTERNAL Data tables js-->
        <script src="{% static 'assets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.bootstrap5.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/jszip.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'assets/plugins/datatable/responsive.bootstrap5.min.js' %}"></script>

        <!-- INPUT MASK JS-->
		<script src="{% static 'assets/plugins/input-mask/jquery.mask.min.js' %}"></script>

        <!--SIDEMENU JS -->
        <script src="{% static 'assets/plugins/sidemenu/sidemenu.min.js' %}"></script>

        <!-- Sticky js -->
        <script src="{% static 'assets/js/sticky.js' %}"></script>

		<!-- SIDEBAR JS -->
		<script src="{% static 'assets/plugins/sidebar/sidebar.min.js' %}"></script>

        <!-- SWEET-ALERT JS -->
		<script src="{% static 'assets/plugins/sweet-alert/sweetalert2.min.js' %}"></script>

        <script src="{% static 'assets/plugins/notify/js/rainbow.js' %}"></script>
		<script src="{% static 'assets/plugins/notify/js/jquery.growl.js' %}"></script>

        <!-- Color Theme js -->
        <script src="{% static 'assets/js/themeColors.min.js' %}"></script>

        <!-- CUSTOM JS -->
        <script src="{% static 'assets/js/custom.js' %}"></script>