{% load static %}
        <!-- BASIC STYLES -->
        <!-- BOOTSTRAP CSS -->
        <link id="style" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

        <!-- STYLE CSS -->
        <link href="{% static 'assets/css/style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/dark-style.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/skin-modes.min.css' %}" rel="stylesheet" />
        <link href="{% static 'assets/css/transparent-style.min.css' %}" rel="stylesheet" />

        <!--- FONT-ICONS CSS -->
        <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet" />

        <!-- COLOR SKIN CSS -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/colors/color1.min.css' %}" />

        <!-- SELECT2 CSS -->
        <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/plugins/select2/css/select2.min.css' %}" />