<!--app-content open-->
                <div class="main-content app-content mt-0">
                    <div class="side-app">
                        <!-- CONTAINER -->
                        <div id="pageContentMainContainer" class="main-container container-fluid">
                            {% include 'zenex/partials/page_header.html' %}

                            <!-- PAGE CONTENT -->
                            {% block page_content %}

                            {% endblock %}
                        </div>
                        <!-- CONTAINER END -->
                    </div>
                </div>
                <!--app-content end-->