{% extends 'basic.html' %}
{% load static custom_project_templatetags %}
{% load static %}
{% block styles_content %}
    <!-- RATY CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'assets/plugins/raty/jquery.raty.css' %}" />

    <style>
        .asteriskField {
            color: var(--primary-bg-border);
        }
        .rating-stars{
            text-align: left;
        }
        .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png{
            font-size: 1em;
        }
        .productdesc .tab-content i{
            color: gold;
        }
    </style>
{% endblock %}
{% block page_header_title %}
    Product details
{% endblock %}
{% block page_breadcrumbs %}
    <li class="breadcrumb-item"><a href="{% url 'products_list' %}">Products</a></li>
    <li class="breadcrumb-item"><a href="{% url 'product_details' pk=product_pk %}" id="productName"></a></li>
    {% csrf_token %}
{% endblock %}
{% block page_header_buttons %}
    {% if request.user|is_seller or request.user.is_superuser %}
        <div class="ms-auto pageheader-btn">
            <button type="button" class="btn btn-info btn-icon text-white me-2" id="productEditBtn">
                <span>
                    <i class="fe fe-edit"></i>
                </span> Edit product
            </button>
            <button type="button" class="btn btn-danger btn-icon text-white me-2" id="productDeleteBtn">
                <span>
                    <i class="fe fe-trash"></i>
                </span> Delete product
            </button>
        </div>
    {% endif %}
{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card productdesc">
                <div class="card-body">
                    <div class="productdec text-center">
                        <div class="bg-light-gray p-6 text-center br-5">
                            <img alt="Product" id="productPhoto" src="{% static 'assets/images/pngs/31.png' %}">
                        </div>
                    </div>
                    <div class="text-center mt-5 pb-5 border-bottom">
                        <a href="javascript:void(0)" id="addToShoppingCartBtn" class="btn btn-primary"><i class="ti-shopping-cart"> </i> Add to cart</a>
                    </div>
                    <div class="mt-4 mb-4">
                        <h3 id="productName">Lenovo Headset 330 Pentium Quad Core </h3>
                        <h5 id="productCategory" class="mb-3 mt-2">Description</h5>
                        <p id="productDescription"></p>
                    </div>
                    <div class="panel panel-primary">
                        <div class="tab-menu-heading">
                            <div class="tabs-menu ">
                                <!-- Tabs -->
                                <ul class="nav panel-tabs">
                                    <li><a href="#tab1" class="active me-2" data-bs-toggle="tab">Specification</a></li>
                                    <li><a href="#tab2" class=" me-2" data-bs-toggle="tab">Dimensions</a></li>
                                    <li><a href="#tab3" data-bs-toggle="tab" class="me-2">Reviews<span class="badge bg-secondary ms-1">2</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body tabs-menu-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    <h4 class="mb-5 mt-3">Overall</h4>
                                    <ul class="list-unstyled mb-0">
                                        <li class="row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Mark</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">CASAMOTION</div>
                                        </li>
                                        <li class=" row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Serial number</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">AHLF016</div>
                                        </li>
                                        <li class="p-b-20 row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Name</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">casamotion</div>
                                        </li>
                                        <li class="p-b-20 row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Material</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">Wood</div>
                                        </li>
                                        <li class="p-b-20 row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Color</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">Brown</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <ul class="list-unstyled mb-0">
                                        <li class="row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Width</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">{% random_int 1 100 %} cm</div>
                                        </li>
                                        <li class=" row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Height</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">{% random_int 1 100 %} cm</div>
                                        </li>
                                        <li class="p-b-20 row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Depth</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">{% random_int 1 100 %} cm</div>
                                        </li>
                                        <li class="p-b-20 row">
                                            <div class="col-sm-3 col-lg-4 col-xl-3 text-muted">Weight</div>
                                            <div class="col-sm-3 col-lg-8 col-xl-3">{% random_int 1 100 %} kg</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="tab3">
                                    <h5 class="mb-3">Add Review</h5>
                                    <form class="form-horizontal m-t-20" novalidate>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="id_rating" class="form-label">Rating</label>
                                                <div class="rating-stars block my-rating-9" id="id_rating"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <label for="id_review" class="form-label">Review</label>
                                                <textarea class="form-control" id="id_review" name="review" rows="5" placeholder="Write your review here"></textarea>
                                            </div>
                                        </div>
                                        <div class="">
                                            <button type="submit" class="btn btn-primary btn-rounded waves-effect waves-light">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_scripts %}
    <!-- INTERNAL moment.min js -->
    <script src="{% static 'assets/plugins/datatable/moment/moment.min.js' %}"></script>

    <!-- RATY JS-->
    <script src="{% static 'assets/plugins/raty/jquery.raty.js' %}"></script>

    <script>
        (function(){
            const canBuyProducts = '{{ request.user|is_client }}' === 'True';
            const canEditProducts = '{{ request.user|is_seller }}' === 'True';
            const shoppingCart = JSON.parse(sessionStorage.getItem('shopping-cart')) || [];
            const shoppingCartIds = new Set(shoppingCart.map((value, idx, arr) => value.id));
            let rateScore = 5.0;
            let template = '';

            if (canBuyProducts) {
                shoppingCart.length = 0;
                shoppingCartIds.clear();
                sessionStorage.removeItem('shopping-cart');

                $(".my-rating-9").raty({
                    score: rateScore,
                    half: true,
                    starType: 'i',
                    hints: [['0.5', '1.0'], ['1.5', '2.0'], ['2.5', '3.0'], ['3.5', '4.0'], ['4.5', '5.0']],
                    click: function(score, element, evt) {
                        rateScore = score;
                    }
                });
            }

            let addToShoppingCart = (name, price, productId) => {
                if (canBuyProducts && !shoppingCartIds.has(productId)) {
                    shoppingCartIds.add(productId);
                    shoppingCart.push({
                       'id': productId,
                        'name': name,
                        'price': price,
                    });
                    sessionStorage.setItem('shopping-cart', JSON.stringify(shoppingCart));
                    Growl.growl({
                        style: 'notice',
                        title: 'Dodano do koszyka',
                        duration: 1000,
                        message: `Dodano ${name} do Twojego koszyka`,
                    });
                }
            };
            const roundToStep = (value, step=0.5) => Math.round(value / step) * step;
            const generateStarRating = (productRating) => {
                const rating = productRating;
                const fullStars = Number(rating[0]);
                const haveHalfStart = rating[rating.length - 1] === '5';
                return '<i class="fa fa-star"></i>'.repeat(fullStars) + (haveHalfStart ? '<i class="fa fa-star-half-o"></i>' + '<i class="fa fa-star-o"></i>'.repeat(Math.max(0, 4 - fullStars)) : '<i class="fa fa-star-o"></i>'.repeat(5 - fullStars))
            };
            const createReview = (username, rating, review, created) => {
                return `
                    <div class="media mb-5">
                        <div class=" me-3">
                            <a href="javascript:void(0);"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="{% static 'assets/images/users/5.jpg' %}"> </a>
                        </div>
                        <div class="media-body">
                            <h5 class="mt-0 mb-0" style="display:inline-block;">${username}</h5>
                            <h5 class="mt-0 mb-0" style="display:inline-block;float:right;">${moment(created).format('DD-MM-YYYY hh:mm:ss')}</h5>
                            <div class="text-warning mb-0">
                                ${generateStarRating(rating)}
                            </div>
                            <p class="font-13 text-muted mb-0">${review}</p>
                            <a href="javascript:void(0);"><span class="badge btn-custom rounded-pill">Reply</span></a>
                        </div>
                    </div>
                `
            };
            const serializeReview = () => {
                return {
                    "product": '{{ product_pk }}',
                    "rating": rateScore,
                    "review": document.getElementById('id_review').value,
                }
            };

            document.querySelector('form button[type="submit"]').addEventListener('click', function (e) {
                e.preventDefault();
                e.stopImmediatePropagation();

                if (canBuyProducts) {
                    $.ajax({
                        url: "{% url 'api_products-rate_product' %}",
                        data: JSON.stringify(serializeReview()),
                        type: 'POST',
                        headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                        contentType : 'application/json',
                        success: (data, textStatus, jqXHR) => {
                            Swal.fire({
                                title: 'Thank you for your review!',
                                html: '',
                                icon: 'success',
                                allowEscapeKey: false,
                                allowOutsideClick: false
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.reload();
                                }
                            });
                        },
                        error: (jqXHR, textStatus, errorThrown) => {
                            console.log(jqXHR, textStatus, errorThrown);
                        },
                    });
                }
            });

            {% if request.user|is_seller or request.user.is_superuser %}
                let deleteProduct = () => {
                    Swal.fire({
                        title: 'Warning!',
                        html: `Are you sure you want to delete this product?`,
                        icon: 'warning',
                        showDenyButton: true,
                        denyButtonText: 'Cancel',
                        allowEscapeKey: false,
                        allowOutsideClick: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: "{% url 'api_products-detail' pk=product_pk %}",
                                type: 'DELETE',
                                headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                                contentType : 'application/json',
                                success: (data, textStatus, jqXHR) => {
                                    window.location.href = '{% url 'products_list' %}';
                                },
                                error: (jqXHR, textStatus, errorThrown) => {
                                    console.log(jqXHR, textStatus, errorThrown);
                                },
                            });
                        }
                    });
                };
                let editProduct = () => {
                    Swal.fire({
                        title: 'Edit product',
                        html: template,
                        showDenyButton: true,
                        denyButtonText: 'Cancel',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                        preConfirm: () => {
                            const formContainer = document.querySelector('form#editForm');
                            formContainer.classList.add('was-validated');

                            if (formContainer.checkValidity() === false){
                                return false
                            }
                        },
                        didOpen: (el) => {
                            console.log(el);
                            let urlToFile = (url) => {
                                return (fetch(url)
                                        .then(function (res) {
                                            return res.arrayBuffer();
                                        })
                                        .then(function (buf) {
                                            const fileNameFull = url.split('/').slice(-1)[0];
                                            const fileExt = fileNameFull.split('.').slice(-1)[0];
                                            return new File([buf], fileNameFull, {type: `image/${fileExt === 'jpg' ? 'jpeg' : fileExt}`});
                                        })
                                );
                            };
                            urlToFile(el.querySelector('a#photo-clear_id_preview').href).then((f) => {
                                console.log(f);

                                function FakeDataTransfer(files) {
                                    this.dropEffect = 'all';
                                    this.effectAllowed = 'all';
                                    this.items = [];
                                    this.types = ['Files'];
                                    this.getData = function () {
                                        return this.dt;
                                    };
                                    this.dt = new DataTransfer();
                                    for (let i = 0; i < files.length; i++) {
                                        this.dt.items.add(files[i])
                                    }
                                }

                                let fakeDropEvent = new DragEvent('drop');
                                Object.defineProperty(fakeDropEvent, 'dataTransfer', {
                                    value: new FakeDataTransfer([f])
                                });
                                const photoInput = el.querySelector('input#id_photo');
                                $(photoInput).on('drop', function (e) {
                                    if (e.originalEvent.dataTransfer && typeof e.originalEvent.dataTransfer.getData === 'function') {
                                        photoInput.files = e.originalEvent.dataTransfer.getData().files;
                                        $(this).off('drop');
                                    }
                                });
                                photoInput.dispatchEvent(fakeDropEvent)
                            })
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: "{% url 'api_products-detail' pk=product_pk %}",
                                type: 'PUT',
                                data: new FormData(document.querySelector('form#editForm')),
                                headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                                contentType : false,
                                processData : false,
                                success: (data, textStatus, jqXHR) => {
                                    window.location.reload()
                                },
                                error: (jqXHR, textStatus, errorThrown) => {
                                    console.log(jqXHR, textStatus, errorThrown);
                                },
                            });
                        }
                    });
                };

                $('button#productEditBtn').on('click', editProduct);
                $('button#productDeleteBtn').on('click', deleteProduct);
            {% endif %}

            $.ajax({
                url: "{% url 'api_products-detail' pk=product_pk %}",
                data: null,
                type: 'GET',
                headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                contentType : 'application/json',
                processData : true,
                success: (data, textStatus, jqXHR) => {
                    // Details view
                    document.querySelector('a#productName').innerHTML = data.name;
                    document.querySelector('h3#productName').innerHTML = data.name;
                    document.querySelector('h5#productCategory').innerHTML = "Kategoria: " + data.category.name;
                    document.querySelector('p#productDescription').innerHTML = data.description;
                    document.querySelector('img#productPhoto').src = data.photo;

                    // Edit data
                    if (canEditProducts) {
                        template = `
                            <form id="editForm" novalidate style="overflow:hidden;">
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        <div id="div_id_name" class="mb-3">
                                            <label for="id_name" class="form-label requiredField">
                                                Name<span class="asteriskField">*</span>
                                            </label>
                                            <input type="text" name="name" value="${data.name}" placeholder="Product name" maxlength="255" class="textinput textInput form-control" required="" id="id_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        <div id="div_id_description" class="mb-3">
                                            <label for="id_description" class="form-label requiredField">Description</label>
                                            <textarea name="description" placeholder="Product description" class="textarea form-control" id="id_description">${data.description}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 mb-0">
                                        <div id="div_id_price" class="mb-3">
                                            <label for="id_price" class="form-label requiredField">
                                                Price<span class="asteriskField">*</span>
                                            </label>
                                            <input type="number" min="0" step="0.01" max="100000" value="${data.price}" name="price" placeholder="Product price" maxlength="255" class="textinput textInput form-control" required="" id="id_price">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 mb-0">
                                        <div id="div_id_category" class="mb-3">
                                            <label class="form-label" for="id_category">Category<span class="asterixField">*</span></label>
                                            <select name="category" id="id_category" class="form-control form-select" data-bs-placeholder="Category" required>
                                                <option value="">---------</option>
                                                {% if categories %}
                                                    {% for category in categories %}
                                                        <option value="{{ category.pk }}" ${'{{ category.pk }}' === data.category.id.toString() ? 'selected' : ''}>{{ category.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12 mb-0">
                                        <div id="div_id_main_photo" class="mb-3">
                                            <label for="id_photo" class="form-label">
                                                Preview image<span class="asteriskField">*</span>
                                            </label>
                                            <div class=" mb-2">
                                                <div class="input-group mb-2">
                                                    <span class="input-group-text">Teraz</span>
                                                    <div class="form-control d-flex h-auto">
                                                        <span class="text-break" style="flex-grow:1;min-width:0">
                                                            <a href="${data.photo}" id="photo-clear_id_preview">${data.photo.split('/').slice(-1)[0]}</a>
                                                        </span>
                                                        <span class="align-self-center ml-2">
                                                            <span class="form-check">
                                                                <input type="checkbox" name="photo-clear" id="photo-clear_id" class="form-check-input">
                                                                <label class="form-check-label mb-0" for="photo-clear_id">Wyczyść</label>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input type="file" name="photo" class="form-control" accept="image/png, image/jpeg" id="id_photo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        `;
                    }
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(jqXHR, textStatus, errorThrown);
                },
            });

            $.ajax({
                url: "{% url 'api_products-ratings' pk=product_pk %}",
                data: null,
                type: 'GET',
                headers: {'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value},
                contentType : 'application/json',
                processData : true,
                success: (data, textStatus, jqXHR) => {
                    const reviewContainer = document.querySelector('div#tab3');
                    const reviewContainerFormHeader = document.querySelector('div#tab3>h5');
                    const reviewsCount = document.querySelector('ul.nav>li>a>span.badge');

                    if (reviewsCount) {
                        reviewsCount.innerHTML = data.count;
                    }

                    for (let i = 0; i < data.results.length; i++) {
                        reviewContainer.insertBefore(
                            $(
                                createReview(
                                    data.results[i].reviewer.username,
                                    roundToStep(data.results[i].rating).toString(),
                                    data.results[i].review,
                                    data.results[i].created_at
                                )
                            )[0],
                            reviewContainerFormHeader
                        );
                    }
                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(jqXHR, textStatus, errorThrown);
                },
            });

            document.getElementById('addToShoppingCartBtn')?.addEventListener('click', addToShoppingCart);
        })();
    </script>
{% endblock %}